.chat_tile {
    padding:12px;
    display:flex;
    flex-direction:row;
    align-items: center;
}

.chat_tile:hover{
    background-color:#2d3035;
}

.chat_divider {
    margin-left:100px;
    margin-right:20px;
    height:1px;
    background-color:#5f6769;
}

.chat_window{
    display:flex;
    flex-direction:column;
    height:100%;
    overflow-y:auto;
    position:relative;
    background:#171d20;
}

.non_header_window{
    height:calc(100% - 30px);
    width:100%;
    display:flex;
    flex-direction:row;
}

.scroll2::-webkit-scrollbar {
  width: 5px;
}
 
.scroll2::-webkit-scrollbar-thumb {
  background: #666; 
}

.socialmedia_icon {
    color:#b1b3b5;
}

.socialmedia_icon:hover {
    color:#34b6f0;
}

.rotate_-45_icons{
    transform: rotate(-45deg);
}

.heart-icon {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.resume-buttom{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #128C7E;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
}


.resume-buttom:hover{
    color: #fff;
    background-color: #128C7E;
}